COLLABORA_USERNAME=admin
COLLABORA_PASSWORD=your_secure_password
COLLABORA_DOMAIN=collabora.internal

# Domain Collabora hands to clients for the Nextcloud integration
COLLABORA_NEXTCLOUD_DOMAIN=nextcloud.internal
