services:
  # UI interface at http://localhost:9980/
  collabora:
    container_name: collabora
    image: collabora/code:latest
    restart: unless-stopped
    environment:
      - username=${COLLABORA_USERNAME}
      - password=${COLLABORA_PASSWORD} 
      - domain=${NEXTCLOUD_DOMAIN} # example.com
      - server_name=${COLLABORA_DOMAIN} # example.com
      - dictionaries=en
      # - extra_params=--o:ssl.enable=true
      - extra_params=--o:ssl.enable=false --o:ssl.termination=true
    ports:
      - 9980:9980

networks:
  exist:
    external: true
