**/.env

**/minio_data
**/n8n_data
**/nextcloud_data
**/openwebui_data
**/nextcloudsql_data
**/ollama_data
**/pg_data
**/qdrant_data
**/redis_data
**/speaches_data
**/uptime-kuma_data
**/whisper_data

**/node_modules

# Caddy
**/Caddyfile

# Cloudflare
**/cloudflare/other
**/cloudflare-key.pem
**/cloudflare.pem

# Nextcloud
**/nextcloud/servername.conf

# RabbitMQ
**/ssl/ca.pem
**/ssl/server_cert.pem
**/ssl/server_key.pem
**/rabbitMQ/defs.json
