your_domain.com {

  # handle_path strips the uri prefix. EG: `uri strip_prefix /blog`
  # handle leaves the uri as is and passes it on

  handle /n8n* {
    reverse_proxy n8n:5678 {
      header_down Strict-Transport-Security max-age=31536000;
    }
  }

  reverse_proxy docker-container:4444 {
    header_down Strict-Transport-Security max-age=31536000;
  }
}
