.features {
  padding: 3rem 0;
  width: 100%;
}

.intro {
  max-width: 40rem;
  margin: 0 auto 2.5rem;
  text-align: center;
}

.title {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.lede {
  font-size: 1.1rem;
  line-height: 1.6;
  margin: 0;
  color: var(--ifm-color-emphasis-800);
}

.featureIconWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.featureIcon {
  height: 80px;
  width: 80px;
  color: var(--ifm-color-primary);
}
