services:
  local-ai:
    container_name: local-ai
    image: "localai/localai:latest-gpu-vulkan"
    restart: unless-stopped
    networks:
      - exist
    volumes:
      - local_ai_models:/models:cached
    group_add:
      - video
    devices:
      - /dev/dri
      - /dev/kfd
    ports:
      - "8080:8080"
    stdin_open: true
    tty: true

volumes:
  local_ai_models:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=${TRUENAS_SERVER_ADDRESS},nolock,soft,rw,nfsvers=4"
      device: ":${TRUENAS_CONTAINER_PATH}/local_ai_models"

networks:
  exist:
    external: true
