services:
  # Object storage for Nextcloud
  # UI interface at http://localhost:49001
  minio:
    container_name: minio
    image: minio/minio:latest
    restart: unless-stopped
    networks:
      - exist
    ports:
      - "49000:9000"
      - "49001:9001"
    volumes:
      - minio_data:/data # Path to the mounted NFS share on the Proxmox host
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - MINIO_DOMAIN=${MINIO_DOMAIN}
      - MINIO_SERVER_URL=${MINIO_SERVER_URL}
      - MINIO_NOTIFY_WEBHOOK_ENABLE_DECREE=on
      - MINIO_NOTIFY_WEBHOOK_ENDPOINT_DECREE=http://decree-webhook:48880/minio
      - MINIO_NOTIFY_WEBHOOK_AUTH_TOKEN_DECREE=${DECREE_MINIO_WEBHOOK_AUTH_TOKEN}
    command: server /data --console-address :9001

volumes:
  minio_data:
    driver: local
    driver_opts:
      type: "nfs"
      o: "addr=${TRUENAS_SERVER_ADDRESS},nolock,soft,rw,nfsvers=4"
      device: ":${TRUENAS_PATH}"

networks:
  exist:
    external: true
