nextcloud.example.com {
  tls /etc/caddy/certs/cloudflare.pem /etc/caddy/certs/cloudflare-key.pem
  redir /.well-known/carddav /remote.php/dav/ 301
  redir /.well-known/caldav /remote.php/dav/ 301

  # the mapped port in caddy should be to the port on the container
  # not the port mapped to the host.
  # EG: a container with ports: "8421:80" would point to :80 in the Caddyfile
  reverse_proxy nextcloud:80
}

collabora.example.com {
  tls /etc/caddy/certs/cloudflare.pem /etc/caddy/certs/cloudflare-key.pem
  
  reverse_proxy collabora:9980
  # reverse_proxy 10.0.0.101:9980
}

tasks.example.com {
  tls /etc/caddy/certs/cloudflare.pem /etc/caddy/certs/cloudflare-key.pem
  
  reverse_proxy tasks:80
}

nocodb.example.com {
  tls /etc/caddy/certs/cloudflare.pem /etc/caddy/certs/cloudflare-key.pem
  
  reverse_proxy nocodb:8080
}

it.example.com {
  tls /etc/caddy/certs/cloudflare.pem /etc/caddy/certs/cloudflare-key.pem
  
  reverse_proxy it-tools:80
}

minio.example.com {
  tls /etc/caddy/certs/cloudflare.pem /etc/caddy/certs/cloudflare-key.pem
  
  reverse_proxy minio:9000
}

app.example.com {
  tls /etc/caddy/certs/cloudflare.pem /etc/caddy/certs/cloudflare-key.pem
  
  reverse_proxy appsmith:443
}







# another_domain {
  # handle_path strips the uri prefix. EG: `uri strip_prefix /blog`
  # handle leaves the uri as is and passes it on

  # handle /n8n* {
  #   reverse_proxy n8n:5678 {
  #     header_down Strict-Transport-Security max-age=31536000;
  #   }
  # }

  # reverse_proxy nextcloud:80 {
  #   header_down Strict-Transport-Security max-age=31536000;
  # }
# }
