pageInfo:
  title: My Dashboard
  navLinks:
    - title: Home
      path: /

appConfig:
  theme: colorful
  layout: auto

sections:
  - name: Apps
    items:
      - title: LibreChat
        url: http://10.0.0.10:44480/
        icon: fas fa-ghost

      - title: Logseq
        url: logseq://graph/Logseq?page=root
        icon: fas fa-scroll
        
      - title: Mealie
        url: https://mealie.example.com
        icon: fas fa-utensils
        
      - title: Vikunja
        url: http://vikunja.example.com
        icon: fas fa-list

  - name: Infrastructure
    items:
      - title: Home Assistant
        url: http://homeassistant:8123/
        icon: si-homeassistant
        
      - title: Nextcloud
        url: https://cloud.example.com/apps/files/
        icon: si-nextcloud

      - title: NocoDB
        url: https://nocodb.example.com
        icon: fas fa-database

      - title: Ntfy
        url: http://10.0.0.10:36880
        icon: si-ntfy

      - title: RabbitMQ
        url: http://10.0.0.10:15672
        icon: si-rabbitmq

  - name: Tools
    items:
      - title: AppSmith
        url: https://app.example.com
        icon: fas fa-code
        
      - title: IT-Tools
        url: http://ittools.example.com/
        icon: hl-it-tools

      - title: Lowcoder
        url: https://lowcoder.example.com
        icon: fas fa-file-code

      - title: Windmill
        url: http://10.0.0.10:8800/
        icon: fas fa-fan

  - name: Monitoring
    items:

      - title: Portainer
        url: https://10.0.0.10:9443/
        icon: hl-portainer

      - title: Uptime Kuma
        url: http://10.0.0.10:30565/dashboard
        icon: si-uptimekuma

# Reference for icons: https://fontawesome.com/search?ic=free&o=r
