pageInfo:
  title: My Dashboard
  navLinks:
    - title: Home
      path: /

appConfig:
  theme: colorful
  layout: auto

sections:
  - name: Apps
    items:
      - title: LibreChat
        url: http://localhost:44480/
        icon: fas fa-ghost

      - title: Logseq
        url: logseq://graph/Logseq?page=root
        icon: fas fa-scroll
        
      - title: Mealie
        url: https://localhost:9091
        icon: fas fa-utensils
        
      - title: Vikunja
        url: http://localhost:3456
        icon: fas fa-list

  - name: Infrastructure
    items:
      - title: Home Assistant
        url: http://homeassistant:8123/
        icon: si-homeassistant
        
      - title: Nextcloud
        url: https://localhost:8421
        icon: si-nextcloud

      - title: NocoDB
        url: https://localhost:11580
        icon: fas fa-database

      - title: Ntfy
        url: http://localhost:36880
        icon: si-ntfy

      - title: RabbitMQ
        url: http://localhost:15672
        icon: si-rabbitmq

  - name: Tools
    items:
      - title: AppSmith
        url: https://localhost:4443
        icon: fas fa-code
        
      - title: IT-Tools
        url: http://localhost:43491
        icon: hl-it-tools

      - title: Lowcoder
        url: https://localhost:3033
        icon: fas fa-file-code

      - title: Windmill
        url: http://localhost:8800/
        icon: fas fa-fan

  - name: Monitoring
    items:

      - title: Portainer
        url: https://localhost:49443/
        icon: hl-portainer

      - title: Uptime Kuma
        url: http://localhost:30565/dashboard
        icon: si-uptimekuma

# Reference for icons: https://fontawesome.com/search?ic=free&o=r
