# Original copied from https://github.com/firecrawl/firecrawl/blob/main/docker-compose.yaml

services:
  firecrawl-playwright-service:
    container_name: firecrawl-playwright-service
    image: ghcr.io/firecrawl/playwright-service:latest
    restart: unless-stopped
    environment:
      PORT: 3000
      PROXY_SERVER: ${PROXY_SERVER}
      PROXY_USERNAME: ${PROXY_USERNAME}
      PROXY_PASSWORD: ${PROXY_PASSWORD}
      BLOCK_MEDIA: ${BLOCK_MEDIA}
    networks:
      - exist

  firecrawl-api:
    container_name: firecrawl-api
    image: ghcr.io/firecrawl/firecrawl
    restart: unless-stopped
    networks:
      - exist
    # ports:
    #   - "${PORT:-3002}:${INTERNAL_PORT:-3002}"
    ulimits:
      nofile:
        soft: 65535
        hard: 65535
    environment:
      REDIS_URL: ${REDIS_URL:-redis://firecrawl-redis:6379}
      REDIS_RATE_LIMIT_URL: ${REDIS_URL:-redis://firecrawl-redis:6379}
      PLAYWRIGHT_MICROSERVICE_URL: ${PLAYWRIGHT_MICROSERVICE_URL:-http://firecrawl-playwright-service:3000/scrape}
      NUQ_DATABASE_URL: ${FIRECRAWL_NUQ_DATABASE_URL}
      USE_DB_AUTHENTICATION: ${USE_DB_AUTHENTICATION}
      OPENAI_API_KEY: ${OPENAI_API_KEY}
      OPENAI_BASE_URL: ${OPENAI_BASE_URL}
      MODEL_NAME: ${MODEL_NAME}
      MODEL_EMBEDDING_NAME: ${MODEL_EMBEDDING_NAME} 
      OLLAMA_BASE_URL: ${OLLAMA_BASE_URL} 
      SLACK_WEBHOOK_URL: ${SLACK_WEBHOOK_URL}
      BULL_AUTH_KEY: ${BULL_AUTH_KEY}
      TEST_API_KEY: ${TEST_API_KEY}
      POSTHOG_API_KEY: ${POSTHOG_API_KEY}
      POSTHOG_HOST: ${POSTHOG_HOST}
      SUPABASE_ANON_TOKEN: ${SUPABASE_ANON_TOKEN}
      SUPABASE_URL: ${SUPABASE_URL}
      SUPABASE_SERVICE_TOKEN: ${SUPABASE_SERVICE_TOKEN}
      SELF_HOSTED_WEBHOOK_URL: ${SELF_HOSTED_WEBHOOK_URL}
      SERPER_API_KEY: ${SERPER_API_KEY}
      SEARCHAPI_API_KEY: ${SEARCHAPI_API_KEY}
      LOGGING_LEVEL: ${LOGGING_LEVEL}
      PROXY_SERVER: ${PROXY_SERVER}
      PROXY_USERNAME: ${PROXY_USERNAME}
      PROXY_PASSWORD: ${PROXY_PASSWORD}
      SEARXNG_ENDPOINT: ${SEARXNG_ENDPOINT}
      SEARXNG_ENGINES: ${SEARXNG_ENGINES}
      SEARXNG_CATEGORIES: ${SEARXNG_CATEGORIES}
      HOST: "0.0.0.0"
      PORT: ${INTERNAL_PORT:-3002}
      EXTRACT_WORKER_PORT: ${EXTRACT_WORKER_PORT:-3004}
      WORKER_PORT: ${WORKER_PORT:-3005}
      ENV: local
    depends_on:
      - firecrawl-redis
      - firecrawl-playwright-service
    command: node dist/src/harness.js --start-docker

  firecrawl-redis:
    container_name: firecrawl-redis
    # NOTE: If you want to use Valkey (open source) instead of Redis (source available),
    # uncomment the Valkey statement and comment out the Redis statement.
    # Using Valkey with Firecrawl is untested and not guaranteed to work. Use with caution.
    image: redis:alpine
    # image: valkey/valkey:alpine
    restart: unless-stopped
    networks:
      - exist
    command: redis-server --bind 0.0.0.0
  
  firecrawl-nuq-postgres:
    container_name: firecrawl-nuq-postgres
    build: ./nuq-postgres # courtesy of https://github.com/firecrawl/firecrawl
    restart: unless-stopped
    networks:
      - exist
    # ports:
    #   - "5432:5432"
    environment:
      POSTGRES_USER: ${FIRECRAWL_POSTGRES_USER}
      POSTGRES_PASSWORD: ${FIRECRAWL_POSTGRES_PASSWORD}
      POSTGRES_DB: ${FIRECRAWL_POSTGRES_DB}

networks:
  exist:
    external: true
