{
  "users": [
    {
      "name": "ha",
      "password": "EXIST_24_CHAR_PASSWORD", 
      "tags": ""
    },
    {
      "name": "ap",
      "password": "EXIST_24_CHAR_PASSWORD", 
      "tags": ""
    },
    {
      "name": "minio",
      "password": "EXIST_24_CHAR_PASSWORD", 
      "tags": ""
    }
  ],
  "vhosts": [
    { "name": "/" }
  ],
  "permissions": [
    { "user": "ha", "vhost": "/", "configure": ".*", "write": ".*", "read": ".*" },
    { "user": "ap", "vhost": "/", "configure": ".*", "write": ".*", "read": ".*" },
    { "user": "minio", "vhost": "/", "configure": ".*", "write": ".*", "read": ".*" }
  ],
  "queues": [
    { "name": "minio", "vhost": "/", "durable": true, "auto_delete": false }
  ],
  "bindings": [
    {
      "source": "amq.topic",
      "vhost": "/",
      "destination": "minio",
      "destination_type": "queue",
      "routing_key": "minio"
    },
    {
      "source": "amq.topic",
      "vhost": "/",
      "destination": "notifications",
      "destination_type": "queue",
      "routing_key": "notifications"
    },
  ],
  "parameters": [],
  "policies": [],
  "global_parameters": [
    { "name": "cluster_name", "value": "rabbit@rabbitmq" }
  ]
}
