PI_PASSWORD=EXIST_DEFAULT_PASSWORD

# The IP address for the reverse proxy (Caddy) hosting existential
# Pi-hole will also require you to change your router DNS to the machine hosting pi-hole
PIHOLE_TARGET_IP=EXIST_CLI
